<?xml version="1.0" encoding="UTF-8"?>
<TP-ACyEDA>

<app title="Video Rotate">
	<config name= "MP4" command="C:\Users\antonella\Documents\GitHub\TP_ALGORITMOSII\TP_ALGOII\src\comandosExe\ffmpeg\bin\ffmpeg.exe" params="-i [VIDEO] -vf rotate=[GRADO]*PI/180 [OUTPUT]">
		<control name="VIDEO" class="FileChooser" label="Video">
			<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
			<tipo-arch>mp4,avi,mpeg,</tipo-arch>		
		</control>	
		<control name= "GRADO" class="SPINNERS" label="Grado">
				<def-value>90</def-value>
				<regex>([0-9][0-9])|([0-2][0-9][0-9])|(3[0-5][0-9])|360</regex>
		</control>	
		<control name= "OUTPUT" class="FileChooser" label="Guardar en">
				<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
					<tipo-arch>mp4,</tipo-arch>
		</control>	
	</config>	
		<config name= "AVI" command="C:\Users\antonella\Documents\GitHub\TP_ALGORITMOSII\TP_ALGOII\src\comandosExe\ffmpeg\bin\ffmpeg.exe" params="-i [VIDEO] -vf rotate=[GRADO]*PI/180 [OUTPUT]">
		<control name="VIDEO" class="FileChooser" label="Video">
			<def-dir>C:\Users\antonella\Documents\My Videos</def-dir>
			<tipo-arch>avi,</tipo-arch>		
		</control>	
		<control name= "GRADO" class="SPINNERS" label="Grado">
				<def-value>90</def-value>
				<regex>([0-9][0-9])|([0-2][0-9][0-9])|(3[0-5][0-9])|360</regex>
		</control>	
		<control name= "OUTPUT" class="FileChooser" label="Guardar en">
					<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
					<tipo-arch>avi,</tipo-arch>
		</control>	
	</config>	
	<config name= "MPEG" command="C:\Users\antonella\Documents\GitHub\TP_ALGORITMOSII\TP_ALGOII\src\comandosExe\ffmpeg\bin\ffmpeg.exe" params="-i [VIDEO] -vf rotate=[GRADO]*PI/180 [OUTPUT]">
		<control name="VIDEO" class="FileChooser" label="Video">
			<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
			<tipo-arch>mpeg,</tipo-arch>		
		</control>	
		<control name= "GRADO" class="SPINNERS" label="Grado">
				<def-value>90</def-value>
				<regex>([0-9][0-9])|([0-2][0-9][0-9])|(3[0-5][0-9])|360</regex>
		</control>	
		<control name= "OUTPUT" class="FileChooser" label="Guardar en">
					<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
					<tipo-arch>mpeg,</tipo-arch>
		</control>	
	</config>	
</app>
<app title="Audio To Video">
		<config  command="C:\Users\antonella\Documents\GitHub\TP_ALGORITMOSII\TP_ALGOII\src\comandosExe\ffmpeg\bin\ffmpeg.exe" name="WAV+PNG=AVI" params=" -loop 1 -i [IMAGE] -i [AUDIO] -c:v libx264 -tune stillimage -c:a aac -strict experimental -b:a 192k -pix_fmt yuv420p -shortest [VIDEO]">
			<control name="AUDIO" class="FileChooser" label="Archivo de audio">
					<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
					<tipo-arch>mp3,wav,wma,</tipo-arch>
			</control>
			<control name="IMAGE" class="FileChooser" label="Archivo de IMAGE">
					<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
					<tipo-arch>png,</tipo-arch>
			</control>
			<control name="VIDEO" class="FileChooser" label="Video">
					<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
					<tipo-arch>avi,</tipo-arch>		
			</control>	
		</config>
		<config command="C:\Users\antonella\Documents\GitHub\TP_ALGORITMOSII\TP_ALGOII\src\comandosExe\ffmpeg\bin\ffmpeg.exe" name="WAV+JPG=MKV" params=" -loop 1 -i [IMAGE] -i [AUDIO] -c:v libx264 -tune stillimage -c:a aac -strict experimental -b:a 192k -pix_fmt yuv420p -shortest [VIDEO]">
			<control name="AUDIO" class="FileChooser" label="Archivo de audio">
					<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
					<tipo-arch>mp3,wav,wma,</tipo-arch>
			</control>
			<control name="IMAGE" class="FileChooser" label="Archivo de IMAGE">
					<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
					<tipo-arch>jpg,</tipo-arch>
			</control>
			<control name="VIDEO" class="FileChooser" label="Video">
				<def-dir>C:\Users\antonella\Documents\My Videos\</def-dir>
				<tipo-arch>mkv,</tipo-arch>		
			</control>	
		</config>
	</app>
<app title="Video Extract">
		<config command="C:\Users\antonella\Documents\GitHub\TP_ALGORITMOSII\TP_ALGOII\src\comandosExe\ffmpeg\bin\ffmpeg.exe" name="AVI a MP4" params=" -i [VIDEO] -ss [DESDE] -c copy -t [HASTA] [OUTPUT]">
			<control name="VIDEO" class="FileChooser" label="Video">
				<def-dir>/users/antonella/Mis videos</def-dir>
				<tipo-arch>mp4,avi,mpeg,</tipo-arch>		
		    </control>	
			<control name="DESDE" class="SPINNERS" label="Desde">
					<minutos>([0-5][0-9])|60</minutos>
					<segundos>([0-5][0-9])|60</segundos>
			</control>
			<control name= "HASTA" class= "SPINNERS" label= "Duracion Total">			        
					<minutos>([0-5][0-9])|60</minutos>
					<segundos>([0-5][0-9])|60</segundos>
			</control>
			<control name="OUTPUT" class="FileChooser" label="Guardar en">
				<def-dir>/users/antonella/Mis videos</def-dir>
				<tipo-arch>mp4,avi,mpeg,</tipo-arch>		
		    </control>	

		</config>
	</app>

<app title="JOIN WAVS">
		<config command="C:\Users\antonella\Documents\GitHub\TP_ALGORITMOSII\TP_ALGOII\copy.bat " name="WAV+WAV=WAV" params="[1] [2] [OUTAUDIO]">
			<control name="1" class="FileChooser" label="AUDIO">
				<def-dir>/users/antonella/Mis canciones</def-dir>
				<tipo-arch>mp3,wav,</tipo-arch>		
		    </control>	
			<control name="2" class="FileChooser" label="AUDIO 2">
				<def-dir>/users/antonella/Mis canciones</def-dir>
				<tipo-arch>mp3,wav,</tipo-arch>		
		    </control>	
			<control name="OUTAUDIO" class="FileChooser" label="Guardar en">
				<def-dir>/users/antonella/Mis canciones</def-dir>
				<tipo-arch>mp3,wav,</tipo-arch>		
		    </control>	

		</config>
		<config command="C:\Users\antonella\Documents\GitHub\TP_ALGORITMOSII\TP_ALGOII\src\comandosExe\mp3wrap.exe" name="MP3+WAV+...A MP3" params=" [OUTAUDIO] [LISTA]">
			<control name="LISTA" class="FileChooser" label="Lista Audios">
				<def-dir>/users/antonella</def-dir>
				<tipo-arch>mp3,wav,</tipo-arch>		
		    </control>				
			<control name="OUTAUDIO" class="FileChooser" label="Guardar en">
				<def-dir>/users/antonella/Mis canciones</def-dir>
				<tipo-arch>mp3,</tipo-arch>		
		    </control>	

		</config>
	</app>


	
</TP-ACyEDA>